.navigation-group {
  top: 0;
  background-color: #555d;
  /* margin: 1rem 0; */
  position: fixed;
  width: 100%
}

.navigation-element {
  background-color: #fff;
  border: #888 solid 1px;
  border-radius: .5rem;
  margin: .5rem;
  padding: .5rem;
  font-size: 1rem;
  font-family: 'Share Tech Mono', monospace;
  outline: none;
}

.navigation-element:hover {
  /* background-color: #aaa; */
  box-shadow: 0 0 2px #888;
  text-shadow: 0 0 1px #888;
}

.active {
  background-color: #888;
  color: #fff;
}
