.certificate-box {
  border-radius: 12.5px;
  border: 5px solid #FFF8F3dd;
  /* box-shadow: 1px 1px 1px #eeeeee; */
  margin: 2rem auto;
  padding: .5rem;
  display: block;
  z-index: 2;
  /* width: 95%; */
}

.certificate-container {
  background-color: #FFF8F3dd;
  border-radius: .3rem;
  color: black;
  /* margin: 2rem auto; */
  padding: 1rem 2rem;
  display: block;
}

.certificate-box .hash {
  word-break: break-all;
  font-size: 1.2rem;
}

.certificate-box .category {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.certificate-box .category-subtext {
  margin-bottom: 0rem;
}

.certificate-box .name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.certificate-box .score {
  font-weight: bold;
}

.certificate-box .signer-box {
  /* max-width: 80%; */
  background-color: #0002;
  padding: 1rem;
  margin: 1rem 0;
}

.certificate-box .signer-box.valid {
  /* max-width: 80%; */
  background-color: #00994450;
}

.certificate-box .signer-box.invalid {
  /* max-width: 80%; */
  background-color: #CF000f50;
}

.certificate-box .signer-box.loading {
  /* max-width: 80%; */
  background-color: #0003;
}

#qrcode-canvas {
  /* position: fixed; */
  /* right: 17%;
  top: 32.5%; */
  width: min(20vw, 20vh) !important;
  height: min(20vw, 20vh) !important;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 75%;
}
.column2 {
  float: left;
  width: 25%;
}
