.certificate-box {
  border-radius: 12.5px;
  border: 5px solid #FFF8F3dd;
  /* box-shadow: 1px 1px 1px #eeeeee; */
  margin: 2rem auto;
  padding: .5rem;
  display: block;
  z-index: 2;
  /* width: 95%; */
}

.certificate-container {
  background-color: #FFF8F3dd;
  border-radius: .3rem;
  color: black;
  /* margin: 2rem auto; */
  padding: 1rem 2rem;
  display: block;
}

.certificate-box .preview {
  color: #CF000F;
  font-size: 1.2rem;
}

.certificate-box .hash {
  word-break: break-all;
  font-size: 1.2rem;
}

.certificate-box .category {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  /* text-decoration: underline; */
}

.certificate-box .category-subtext {
  margin-bottom: 0rem;
}

.certificate-box .name {
  font-size: 2.7rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.certificate-box .score {
  font-size: 1.7rem;
  font-weight: bold;
}

.certificate-box .subject {
  font-size: 1.7rem;
  font-weight: bold;
}

.certificate-box .date {
  font-size: 1.7rem;
  font-weight: bold;
}

.certificate-box .location {
  font-size: 1.7rem;
  font-weight: bold;
}

.certificate-box .signer-box {
  /* max-width: 80%; */
  background-color: #0002;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .25rem;
}

.certificate-box .signer-box.valid {
  /* max-width: 80%; */
  background-color: #00994450;
}

.certificate-box .signer-box.invalid {
  /* max-width: 80%; */
  background-color: #CF000f50;
}

.certificate-box .signer-box.suspended {
  /* max-width: 80%; */
  background-color: #ffa50050;
}

.certificate-box .signer-box.loading {
  /* max-width: 80%; */
  background-color: #0003;
}

.certificate-box .link-black:link, .certificate-box .link-black:visited {
  color: black;
}
.certificate-box .link-black:hover {
  color: #2aa3cc;
}

.certificate-box .signer-box .certificate-signer-img {
  display: inline;
  height: 4.5rem;
  margin: 1em 0;
}


.qrcode-canvas-container {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  padding: .5rem;
}

#qrcode-canvas {
  /* position: fixed; */
  /* right: 17%;
  top: 32.5%; */
  width: min(20vw, 20vh) !important;
  height: min(20vw, 20vh) !important;
  margin: 0;
}
