.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

body {
  background-color: #222;
}

.App-header {
  /* background-color: #222; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* font-family: 'Share Tech Mono', monospace; */
  font-family: 'Share Tech', monospace;
  color: #eee;
  z-index: 1000;
}

.mono {
  font-family: 'Share Tech Mono', monospace;
}

.App-link {
  color: #09d3ac;
}

.background-lines {
  position: fixed;
  width: 100%;
  z-index: -1;
  left: 0;
}

.background-lines.top {
  top: 0;
}

.background-lines.bottom {
  bottom: 0;
  /* width: 20px; */
}

.container {
  width:80vw;
  max-width: 1024px;
  margin: 100px 0;
  overflow: scroll;
}

.home-details {
  text-align: justify;
}

.home-details h3, .home-details h4 {
  margin-bottom: .5rem;
}

.home-details p {
  margin: 1rem 0;
}

.form-group {
  background-color: #fff2;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: .2rem;
  border:1px solid #cccccc;
}

.certificate-textinput {
  background-color: #fff5;
  font-family: 'Share Tech Mono', monospace;
  color: #eee;
  font-weight: bold;
  width:90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1rem;
  border:1px solid #cccccc;
  border-radius: .2rem;
  text-align: center;
  outline: none;
}

.certificate-textinput::placeholder {
  color: #fff;
  font-weight: normal;
}

.certificate-textinput.invalid {
  background-color: #CF000f19;
  border: 2px solid #CF000F;
  box-shadow: 0 0 5px #CF000F;
}

.certificate-textarea {
  background-color: #fff3;
  color: #eee;
  width: 95%;
  height: 40vh;
  border-radius: .2rem;
  font-size: 1.3rem;
  font-family: 'Share Tech Mono', monospace;
  outline: none;
}

.certificate-textarea.valid {
  background-color: #00994419;
  color: #ccead9;
  border: 2px solid #009944;
  box-shadow: 0 0 5px #009944;
  outline: none;
}

.certificate-textarea.invalid {
  background-color: #CF000f19;
  color: #f5cccf;
  border: 2px solid #CF000F;
  box-shadow: 0 0 5px #CF000F;
  outline: none;
}

.btn {
  background-color: #2182a3;
  border: none;
  color: white;
  text-shadow: 0 0 4px #0004;
  padding: 12px 32px;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: .2rem;
  outline: none;
}

.btn:disabled,
.btn[disabled] {
  background-color: #B4E1F0;
}

.error-message {
  background-color: #CF000F44;
  /* color: #CF000FDD; */
  padding: .5rem;
  border-radius: .2rem;
  border:1px solid #CF000FAA;
}

.status-message {
  background-color: #fff2;
  padding: .5rem;
  border-radius: .2rem;
  border:1px solid #cccccc;
}

.success-message {
  background-color: #00994419;
  padding: .5rem;
  border-radius: .2rem;
  border:1px solid #009944;
}

/* a.link {
} */

.link, .link:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #2aa3cc;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 75%;
}
.column2 {
  float: left;
  width: 25%;
}

select {
  /* appearance: none; */
  outline: 0;
  /* background: green; */
  /* background-image: none; */
  /* width: 100%; */
  height: 2rem;
  font-size: 1.5rem;
  font-family: 'Share Tech Mono', monospace;
  color: black;
  cursor: pointer;
  border:1px solid black;
  border-radius:3px;
}
