.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Share Tech Mono', monospace;
  color: #444;
}

.App-link {
  color: #09d3ac;
}

.container {
  width:80vw;
  max-width: 1024px;
  margin-top: 50px;
  overflow: scroll;
}

.form-group {
  background-color: #00000015;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: .2rem;
  border:1px solid #cccccc;
}

.certificate-textinput {
  width:90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1rem;
  border:1px solid #cccccc;
  border-radius: .2rem;
  text-align: center;
  outline: none;
}

.certificate-textinput.invalid {
  background-color: #CF000f19;
  border: 2px solid #CF000F;
  box-shadow: 0 0 5px #CF000F;
}

.certificate-textarea {
  width: 95%;
  height: 40vh;
  border-radius: .2rem;
  font-size: 1.3rem;
  font-family: 'Share Tech Mono', monospace;
  outline: none;
}

.certificate-textarea.valid {
  background-color: #00994419;
  border: 2px solid #009944;
  box-shadow: 0 0 5px #009944;
  outline: none;
}

.certificate-textarea.invalid {
  background-color: #CF000f19;
  border: 2px solid #CF000F;
  box-shadow: 0 0 5px #CF000F;
  outline: none;
}

.btn {
  background-color: #63C0DF;
  border: none;
  color: white;
  text-shadow: 0 0 4px #0004;
  padding: 12px 32px;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  /* display:; */
  font-size: 16px;
  border-radius: .2rem;
  border:1px solid #888;
  outline: none;
}

.btn:disabled,
.btn[disabled] {
  background-color: #B4E1F0;
}

.error-message {
  background-color: #CF000F44;
  color: #CF000FDD;
  padding: .5rem;
  border-radius: .2rem;
  border:1px solid #CF000FAA;
}

.status-message {
  background-color: #00000015;
  padding: .5rem;
  border-radius: .2rem;
  border:1px solid #cccccc;
}
